__# Python
__pycache__
venv
.venv
.env
logs
instantclient_21_10
.vscode
.idea
oracle_home/*
!oracle_home/*.sh
app/wallet/*
app/keys/*
!app/keys/README.md
app/certs/*
database/*
!database/README.md
secret.yaml
vpn/*